.container {
  display: flex;
  height: 70vh;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.logoContainer {
  width: 300px;
  height: 300px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}