.container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.containerImg {
    display: flex;
    height: 80%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 20px;
    
    border-radius: 20px;
}